@use '../base/variables' as *;

.button {
  padding: $base * 2;
  font-size: $base * 2;
  border: none;
  transition: $transition;
  cursor: pointer;

  &--primary {
    color: $white;
    background: $primary-color;
    font-weight: 700;
    font-size: $base * 1.75;
  }

  &--withIcon {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;
    text-align: left;
    position: relative;

    &::after {
      @include pseudo-center-y();
      display: block;
      height: $base * 3;
      width: $base * 3;
      right: $base * 1.5;
      transition: $transition;
    }

    &--arrow {
      font-weight: 300;

      &::after {
        background-image: url(asset-path('icons', 'arrow.svg'));
        transform: translateY(-50%) rotate(90deg);
      }
    }

    &--location {
      &::after {
        background-image: url(asset-path('icons', 'tag.svg'));
      }
    }
  }

  &--withImage {
    @include flex-box(row, center, center, $base); 
    gap: $base;
    color: $white;

    &:hover {
      opacity: 0.6;
    }

    &--imageTop {
      flex-direction: column;

      img {
        height: $base * 3;
        width: $base * 3;
        margin-bottom: $base;
      }
    }
  }

  &--transparent {
    text-decoration: underline;
    background: transparent;
    padding: 0;
    margin: $base * 3 0;

    &:hover {
      opacity: 0.6;
    }
  }

  &--share {
    margin: 0;
    position: relative;
    padding-right: $base * 4;
    font-size: $base * 1.75;
    letter-spacing: 2.6px;
    text-decoration: none;

    &::after {
      @include pseudo-center-y();
      display: block;
      height: $base * 3;
      width: $base * 3;
      right: 0;
      background-image: url(asset-path('icons', 'share.svg'));
    }
  }

  &--wishlist {
    position: absolute;
    z-index: 2;
    top: $base * 4;
    right: $base * 4;
    width: $base * 6;
    height: $base * 6;
    background-color: transparent;
    background: url(asset-path('icons', 'icon-heart-off.svg')) center no-repeat;
  }

  &--borderLeft {
    padding-left: $base;
    border-left: 1px solid $black;
    text-transform: uppercase;
  }

  &--violet {
    background-color: $violet;
  }

  &--fixed375 {
    width: 375px;
  }

  &--fullWidth {
    width: 100%;
  }

  &--bottom {
    position: absolute;
    bottom: $base * 3;
  }
}
